* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    min-height: 100vh;
    background: url(képek/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5%;
    background: rgba(32, 35, 95, .2);
    backdrop-filter: blur(50px);
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.navsav a{
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.logo {
    width: 20%;
    height: 20%;
    margin: 0;
    float: right;
}

.main-text {
    text-align: center;
    margin-top: 100px;
    color: white;
    font-family: 'Montserrat', Arial, sans-serif;
}

.alszoveg {
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 30px;
    color: white;
}

.jatek {
    background-color: #161843;
    width: 350px;
    height: 360px;
}

.container {
    display: flex;
    color: white;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 75px;
}

.jatek-kep {
    background-color: white;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.k-1 {
    background-image: url(képek/rdr2.jpeg);
}

.k-2 {
    background-image: url(képek/darksouls.png);
}

.k-3 {
    background-image: url(képek/eldenring.png);
}

.nev {
    font-family: 'Montserrat', Arial, sans-serif;
    width: 60%;
    text-align: left;
    float: left;
    height: 60px;
    margin-top: 3px;
    margin-left: 10px;
}

.aroff {
    font-family: 'Metrophobic', Arial, sans-serif;
    display: flex;
    width: 30%;
    margin-top: 6px;
    justify-content: center;
    align-items: center;
    float:leftt;
    height: 25px;
    text-decoration: line-through;
    font-size: 10pt;
    background-color: #302E96;
}

.ar {
    font-family: 'Metrophobic', Arial, sans-serif;
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    float:left;
    height: 20px;
    font-size: 10pt;
    background-color: #302E96;
}