*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    max-width:100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.hatter_fooldal{     /*index.html háttere*/
    background-image: url(képek/bg.png);
}

.hatter_tamogatas{     /*tamogatas.html háttere*/
    background-image:url(képek/customer\ service.jpg);
}

.hatter_varaslas{      /*vasarlas.html háttere*/
    background-image: url(képek/bg2.png);
}

.hatter_csomagok{      /*csomagok.html*/
    background-image: url(képek/wp8015700.jpg);
}

.hatter_jatekvasarlas{ /*jatek_vasarlas.html*/
    background-image: url(képek/rdr2bg.jpg);
}

.hatter_loginoldal{    /*loginoldal.html*/
    background-image: url(képek/signupbg4.png);
}

.hatter_signupoldal{    /*signupoldal.html*/
    background-image: url(képek/signupbg4.png);
}

a{
    color: white;
}
a:active{
    color: white;
}
a:link{
    color:white;
}
a:visited{
    color: white;
}
a:hover{
    color: white;
}
/*Fejléc*/
/*index.html*/
header{
    background-color: #161843;
    width: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
header a{
    color: white;
    text-decoration: none;
}
header a:visited{
    color: white;
    text-decoration: none;
}
header a:link{
    color: white;
    text-decoration: none;
}
header a:active{
    color: white;
    text-decoration: none;
}

.fejlec_div{    
    margin:1rem;
}

.fejlec_gomb{
    font-size: 1.5rem;
    background-color: #161843;
    padding: 5px 10px;
    border: 3px solid transparent;
    border-radius: 0.6em;
    transition: 0.2s;
}

.fejlec_gomb:hover{
    font-size: 1.6rem;
    background-color: transparent;
    /*
    border: 3px solid #6019bd;
    box-shadow: 0px 0px 27px 5px #6019bd;
    */
}

@keyframes letters {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  
  @keyframes cursor {
    from {
      border-color: transparent
    }
  
    50% {
      border-color: #6019bd
    }
}

.fejlec_logo{
    max-width: 5rem;
    max-height: 2.5rem;
    float: right;
}

.fejlec_logo:hover{
    max-height: 2.5rem;
    max-width: 6rem;
    background-color: transparent;
}
/*index.hmtl*/
/*loginoldal.html*/

/*loginoldal.html*/
/*Fejléc*/

/*Main*/
/*index.html*/
main{
    color:white;
}

#main_cim{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.main_cim{
    font-size: 3rem;
    text-align: center;
}

.main_alcim1{
    font-size: 2.5rem;
    float: left;
    padding: 2rem;
}

.main_kepek1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_kep1{
    width: 25rem;
    height: 20rem;
}

.main_jateknev1{
    background-color: #161843;  
    height: 4rem;
    max-width: 25rem;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.main_nev1{
    max-width: 12rem;
    float:left;
    font-size: 1.5rem;
    margin: 0 0 0 2rem ;
}

.ar1{
    background-color:#302E96 ;
    font-size: 1rem;
}

.ar1:first-child{
    text-decoration: line-through;
}

.arsor {
    margin-bottom: 5px;
    font-size: 1.3em;
    margin-left: 6rem;
    background-color:#302E96 ;
    font-size: 1rem;
}

.arsor span {
    display: block;
}
/*index.html*/
/*tamogatas.html*/

.segitseg{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.segitsegszoveg1{
    font-size: 2.5rem;
    margin:1rem 0 1rem 0;
}

.segitsegszoveg2{
    font-size: 2.5rem;
    margin:1rem 0 0 0;
}

.segitseggomb{
    color: white;
    width: 15rem;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid white;
    overflow: hidden;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 300ms ease;
    margin: 1rem 0 1rem 0;
}

.segitseggomb::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 15rem;
    height: 150px;
    border-radius: 50%;
    background-color: #302E96;
    top: 100%;
    left: 0;
    transition: 500ms ease;
}

.segitseggomb:hover {
    color: #fff;
    letter-spacing: 3px;
}
  
.segitseggomb:hover::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.elerhetoseg{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.elerhetosegszoveg1{
    font-size: 2.5rem;
    margin:1rem 0 1rem 0;
}

.elerhetosegbox{
    font-size: 1.9rem;
}

.elerhetosegli{
    margin: 1rem 0;
}

main li{
    list-style-type: none;

}

main li>img{
    width:3rem ;
    margin-right:25px ;
}

/*tamogatas.html*/
/*vasarlas.html*/

.main_jateknev2{
    background-color: #161843;  
    height: 4rem;
    max-width: 25rem;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.main_nev2{
    max-width: 13rem;
    float:left;
    font-size: 1.5rem;
    margin: 0 0 0 2rem ;
}

.ar2{
    background-color:#302E96 ;
    font-size: 1rem;   
}

.arsor2 {
    margin-bottom: 5px;
    font-size: 1.2em;
    margin-left: 6rem;
    background-color:#302E96 ;
    font-size: 1rem;
}

.arsor2 span {
    display: block;
}

/*vasarlas.html*/
/*csomagok.html*/

#main_csomagcim{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.main_alcim2{
    font-size: 2rem;
}

.ar3{
    background-color:#302E96 ;
    font-size: 1rem;   
}

.arsor3 {
    margin-bottom: 5px;
    font-size: 1.2em;
    margin-left: 3rem;
    background-color:#302E96 ;
    font-size: 3rem;
}

.arsor3 span {
    display: block;
}

.csomag_kep{
    width: 20rem;
    height: 16rem;
}

.csomag_kep:first-child{
    border-radius: 1rem 0 0 1rem ;
}

.csomag_kep:last-child{
    border-radius: 0 1rem 1rem 0 ;
}

.csomag_box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    transition: transform 0.5 ease;
    transition: filter 0.3s ease;
    filter: blur(5px);
}

.csomag_box:hover{
    cursor: pointer;
    transform: scale(1.02);
    filter: none;
}

.csomag_box:last-child{
    margin-bottom: 1rem;
}
/*csomagok.html*/
/*jatek_vasarlas.html*/


.box1{
    backdrop-filter: blur(50px);
    background-color: rgba(32, 35, 95, .8);
    font-family: 'Montserrat', Arial, sans-serif;
    color: white;
    border-radius: 1rem;
    padding: 0 2rem 0 2rem;
    margin: 4rem 0 0 0;
}

.leirascim{
    margin-left: 1rem;
}

.leirasszoveg{
   margin-left: 1rem;
}

.box2{
    backdrop-filter: blur(50px);
    background-color: rgba(32, 35, 95, .8);
    border-radius: 1rem;
    margin-bottom: 7rem;
}

.gepigenykep{
    margin: 1rem 0 0 1rem;
    width: 7rem;
}

.rdrkep{
    width: 5rem;
    box-shadow: black 0 1rem 1rem 0;
    margin-bottom: 1rem;
}

.gepigenyszoveg{
    width: 30rem;
    margin: 1rem 0 0 0;
}

.box3{
    display: flex;
    justify-content: center;
}

.kartya{
    width: 190px;
    height: 254px;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    background-color: rgba(32, 35, 95, .8);
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    width: 25rem;
    text-align: center;
}
   
.kartya_reszletek{
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}
   
.kartya_gomb{
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #302E96;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}
   
.kartya_szoveg1{
    color: rgb(134, 134, 134);
    font-size: 1.3rem;
    text-decoration: line-through;
}

.kartya_szoveg2{
    color: rgb(134, 134, 134);
    font-size: 1.3rem;
}

.kartya_cim{
    font-size: 1.5em;
    font-weight: bold;
}

.kartya:hover {
    border-color: #302E96;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
   
.kartya:hover .kartya_gomb {
    transform: translate(-50%, 50%);
    opacity: 1;
}
/*jatek_vasarlas.html*/
/*loginoldal.html*/
.login_box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hatter_loginoldal{
    .login_box{
        margin-bottom: 8rem;
    }
}

.login_sign{
    margin: 5rem 0;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 25rem;
    transition: .4s ease-in-out;
    background-color: rgba(255,255,255,0.25);
    border: 2px solid #8707ff;
    color:rgb(134, 134, 134);
    a{
        color:  rgb(134, 134, 134);
    }
}


.login_sign:hover{
    transition: .1s;
    animation: rotateShadow 2s infinite linear;
    color: #8707ff;
    outline-color: #8707ff;
    box-shadow: -3px -3px 15px #8707ff;
    transition: .1s;
    transform: scale(1.05);
    background-color: rgb(255,255,255,0.75);
    a{
        color: #8707ff;
    }
}

.input_container{
    margin: 2rem 0;
}

.input_mezo{
    border-radius: 0.5rem;
    width: 20rem;
    height: 3rem;
    padding: 0.5rem ;
    margin: 0.5rem 0;
    text-align: center;
    background: transparent;
    border: 2px solid #8707ff;
    color:white;
}

.input_mezo:hover{
    color: #8707ff;
    outline-color: #8707ff;
    box-shadow: -3px -3px 15px #8707ff;
    transition: .1s;
    animation: rotateShadow 2s infinite linear;
}

.input_mezo2{
    width: 10rem;
    height: 3rem;
    padding: 0.5rem ;
    margin: 0.5rem 0;
    text-align: center;
    background: transparent;
    border: 2px solid #8707ff;
    color:white;
    border-radius: 0.5rem;
}

.input_mezo2:hover{
    color: #8707ff;
    outline-color: #8707ff;
    box-shadow: -3px -3px 15px #8707ff;
    transition: .1s;
    animation: rotateShadow 2s infinite linear;
}



@keyframes rotateShadow {
    0% {
      box-shadow: -2px -2px 8px 1px #aa00ff, 2px 2px 8px 1px #3700ff;
    }
    25% {
      box-shadow: -2px 2px 8px 1px #aa00ff, 2px -2px 8px 1px #3700ff;
    }
    50% {
      box-shadow: 2px 2px 8px 1px #aa00ff, -2px -2px 8px 1px #3700ff;
    }
    75% {
      box-shadow: 2px -2px 8px 1px #aa00ff, -2px 2px 8px 1px #3700ff;
    }
    100% {
      box-shadow: -2px -2px 8px 1px #aa00ff, 2px 2px 8px 1px #3700ff;
    }
}
  

.folytatas{
    background-color: transparent;
    border: 2px solid #8707ff;
    border-radius: 0.5rem;
    width: 10rem;
    height: 3rem;
    color:  rgb(134, 134, 134);
    margin: 1rem 0 1rem 0;
    
}

.folytatas:active{
    box-shadow: 2px 2px 15px #8707ff inset;
}

.login_box a{
    text-decoration: none;
    margin: 0 0 2rem 0;
}

.vonal {
    margin: 1rem 0 1rem 0 ;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgb(134, 134, 134)
}

.signup_szoveg{
    margin-left: 2rem;
    text-align: left;
    
}

.datum_box{
    background-color: rgba(255,255,255,0.25);
    box-sizing: border-box;
    padding: 0.25rem;
    font-size: 14px;
    margin: 0 2rem 1rem 2rem;
    width: 19rem;
    border-radius: 0.5rem;
}

.datum{
    text-align: center;
    height: 2.5rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: 0;
    
}

.radio-inputbox{
    margin: 0;
    display: block;
}

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,0.25);
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    font-size: 14px;
    margin: 0 2rem 0 2rem;
}
  
.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}
  
.radio-inputs .radio input {
    display: none;
}
  
.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}
  
.radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
    
}
/*loginoldal.html*/
/*Main*/

/*Footer*/
/*index.html*/
footer{
    background-color: #161843;
    color: white;
    bottom: 0;
    width: 100%;

}

.lablec_cim{
    margin-top: 1rem;
}

.feliratkozommezo{
    background-color: #302E96;
    color: white;
    border-radius: 1rem;
    width: 6rem;
    height: 2rem;
    border: 0;
}

.emailcimmezo{
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: #161843;
    border: white 1px solid; 
    color: white;
    width: 15rem;
    height: 2rem;
}

#szerzoijogok{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

/*index.html*/
/*tamogatas.html*/
.hatter_tamogatas footer{
    position: absolute;    
}
/*tamogatas.html*/
/*jatekvasarlas.html*/
.hatter_jatekvasarlas footer{
    position: relative;
}
/*jatekvasarlas.html*/
/*Footer*/
@media only screen and (max-width:2500px){

}

@media (min-width: 1200px) and (max-width: 1300px){  
    .main_kep1{
        width: 22rem;
        height: 16rem;
    }
    .main_jateknev1{
        height: 4rem;
        width: 22rem;
    }
    .main_nev1{
        font-size: 1.2rem;
    }
}

@media (min-width: 1100px) and (max-width: 1200px){
    .main_kep1{
        width: 18rem;
        height: 15rem;
    }
    .main_jateknev1{
        height: 4rem;
        width: 18rem;
        margin-bottom: 8rem;
    }
    .main_nev1{
        font-size: 0.9rem;
    }
}

@media (min-width: 950px) and (max-width: 1100px){
    .main_kep1{
        width: 16rem;
        height: 12rem;
    }
    .main_jateknev1{
        height: 4rem;
        width: 16rem;
    }
    .main_nev1{
        max-width: 10rem;
        font-size: 0.9rem;
        margin: 0 0 0 1rem
    }
    .arsor{
        margin-left:5rem;
        margin-right: 1rem;
    }
}

@media (min-width: 800px) and (max-width: 950px){
    .main_kep1{
        width: 16rem;
        height: 12rem;
    }
    .main_jateknev1{
        height: 4rem;
        width: 16rem;
    }
    .main_nev1{
        max-width: 10rem;
        font-size: 0.9rem;
        margin: 0 0 0 1rem
    }
    .arsor{
        margin-left:4rem;
        margin-right: 1rem;
    }
    .hatter_fooldal{
        .fejlec_gomb{
            font-size: 95%;
        }
        .fejlec_logo{
            max-width: 4.5rem;
            max-height: 2rem;
        }
    }
}

@media (min-width: px) and (max-width: px){

}
