*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    max-width:100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.hatter_fooldal{     /*index.html háttere*/
    background-image: url(képek/bg.png);
}

.hatter_tamogatas{     /*tamogatas.html háttere*/
    background-image:url(képek/customer\ service.jpg);
}

.hatter_varaslas{      /*vasarlas.html háttere*/
    background-image: url(képek/bg2.png);
}

.hatter_csomagok{      /*csomagok.html*/
    background-image: url(képek/wp8015700.jpg);
}
/*Fejléc*/
/*index.html*/
header{
    background-color: #161843;
    width: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
header a{
    color: white;
    text-decoration: none;
}
header a:visited{
    color: white;
    text-decoration: none;
}
header a:link{
    color: white;
    text-decoration: none;
}
header a:active{
    color: white;
    text-decoration: none;
}

.fejlec_div{    
    margin:1rem;
}

.fejlec_gomb{
    font-size: 1.5rem;
    margin: 0 2rem 0 0 ;
}

.fejlec_logo{
    max-width: 5rem;
    max-height: 2.5rem;
    float: right;
}
/*index.hmtl*/
/*Fejléc*/

/*Main*/
/*index.html*/
main{
    color:white;
}

#main_cim{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.main_cim{
    font-size: 3rem;
    text-align: center;
}

.main_alcim1{
    font-size: 2.5rem;
    float: left;
    padding: 2rem;
}

.main_kepek1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_kep1{
    width: 25rem;
    height: 20rem;
}

.main_jateknev1{
    background-color: #161843;  
    height: 4rem;
    max-width: 25rem;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.main_nev1{
    max-width: 12rem;
    float:left;
    font-size: 1.5rem;
    margin: 0 0 0 2rem ;
}

.ar1{
    background-color:#302E96 ;
    font-size: 1rem;
}

.ar1:first-child{
    text-decoration: line-through;
}

.arsor {
    margin-bottom: 5px;
    font-size: 1.3em;
    margin-left: 6rem;
    background-color:#302E96 ;
    font-size: 1rem;
}

.arsor span {
    display: block;
}
/*index.html*/
/*tamogatas.html*/

.segitseg{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.segitsegszoveg1{
    font-size: 2.5rem;
    margin:1rem 0 1rem 0;
}

.segitsegszoveg2{
    font-size: 2.5rem;
    margin:1rem 0 0 0;
}

.segitseggomb{
    width: 10rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: #20235F;
    color: white;
    border: 0;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.elerhetoseg{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.elerhetosegszoveg1{
    font-size: 2.5rem;
    margin:1rem 0 1rem 0;
}

.elerhetosegbox{
    font-size: 1.9rem;
}

.elerhetosegli{
    margin: 1rem 0;
}

main li{
    list-style-type: none;

}

main li>img{
    width:3rem ;
    margin-right:25px ;
}

/*tamogatas.html*/
/*vasarlas.html*/

.main_jateknev2{
    background-color: #161843;  
    height: 4rem;
    max-width: 25rem;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.main_nev2{
    max-width: 13rem;
    float:left;
    font-size: 1.5rem;
    margin: 0 0 0 2rem ;
}

.ar2{
    background-color:#302E96 ;
    font-size: 1rem;   
}

.arsor2 {
    margin-bottom: 5px;
    font-size: 1.2em;
    margin-left: 6rem;
    background-color:#302E96 ;
    font-size: 1rem;
}

.arsor2 span {
    display: block;
}

/*vasarlas.html*/
/*csomagok.html*/

.main_alcim2{
    font-size: 2rem;
}

.ar3{
    background-color:#302E96 ;
    font-size: 1rem;   
}

.arsor3 {
    margin-bottom: 5px;
    font-size: 1.2em;
    margin-left: 3rem;
    background-color:#302E96 ;
    font-size: 3rem;
}

.arsor3 span {
    display: block;
}

/*csomagok.html*/
/*Main*/

/*Footer*/
/*index.html*/
footer{
    background-color: #161843;
    color: white;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.lablec_cim{
    margin-top: 1rem;
}

.feliratkozom{
}

.feliratkozommezo{
    background-color: #302E96;
    color: white;
    border-radius: 1rem;
    width: 6rem;
    height: 2rem;
    border: 0;
}

.emailcimmezo{
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: #161843;
    border: white 1px solid; 
    color: white;
    width: 15rem;
    height: 2rem;
}

#szerzoijogok{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

/*index.html*/
/*tamogatas.html*/

.hatter_tamogatas footer{
    position: absolute;    
}
/*tamogatas.html*/
/*Footer*/