* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    min-height: 100vh;
    background: url(képek/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5%;
    background: rgba(32, 35, 95, .2);
    backdrop-filter: blur(50px);
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.navsav a{
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.logo {
    width: 20%;
    height: 20%;
    margin: 0;
    float: right;
}

.main-text {
    text-align: center;
    margin-top: 100px;
    color: white;
    font-family: 'Montserrat', Arial, sans-serif;
}

.alszoveg {
    margin-top: 50px;
    margin-left: 40px;
    color: white;
}

.jatek {
    background-color: brown;
    width: 350px;
    height: 380px;
}

.container {
    display: flex;
    border: red solid;
    color: white;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 75px;
}

.jatek-kep {
    background-color: white;
    height: 170px;
    width: 100%;
}